.round-button {
  border: none;
  border-radius: 50%;
  font-size: 24px;
  width: 60px;
  height: 60px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.round-button.active {
  background-color: #3498db; /* Change the color for active state */
  color: #fff;
}

.control-buttons {
  display: flex;
  justify-content: center;
}
